header
{
	text-align: center;
	color: green;
	background-color: purple;
	position: absolute;
	width: 100%;
	height: 70px;
}
nav
{
	background-color: yellow;
	position: absolute;
	width: 20%;
	margin-left: 0px;
	margin-top: 70px;
	
}
section
{
	background-color: blue;
	position: absolute;
	margin-top: 70px;
	margin-left: 20%;
	width: 80%;
}
h1, h2, h3, h4, h5, h6, h7
{
	text-align: center;
}
canvas
{
	background-color: white;
	margin: 5px;
}


